
.main-log-scroll,
.main-log-scroll > .view-port,
.main-log-scroll > .scroll-bar:horizontal > .track,
.main-log-scroll > .scroll-bar:horizontal > .increment-button,
.main-log-scroll > .scroll-bar:horizontal > .increment-button > .increment-arrow,
.main-log-scroll > .scroll-bar:horizontal > .decrement-button,
.main-log-scroll > .scroll-bar:horizontal > .decrement-button > .decrement-arrow,
.main-log-scroll > .scroll-bar:horizontal > .track-background{
    -fx-background-color:  #f5f5f5;
    -fx-fill: #cd3;
    -fx-background-radius: 0;
}

.main-log-scroll > .scroll-bar:horizontal > .thumb{
    -fx-background-color:  #d0d0d0;
    -fx-background-radius: 0;
}


.main-log-scroll,
.main-log-scroll > .view-port,
.main-log-scroll > .scroll-bar:vertical > .track,
.main-log-scroll > .scroll-bar:vertical > .increment-button,
.main-log-scroll > .scroll-bar:vertical > .increment-button > .increment-arrow,
.main-log-scroll > .scroll-bar:vertical > .decrement-button,
.main-log-scroll > .scroll-bar:vertical > .decrement-button > .decrement-arrow,
.main-log-scroll > .scroll-bar:vertical > .track-background{
    -fx-background-color:  #f5f5f5;
    -fx-fill: #cd3;
    -fx-background-radius: 0;
}

.main-log-scroll > .scroll-bar:vertical > .thumb{
    -fx-background-color:  #d0d0d0;
    -fx-background-radius: 0;
}