#
#Fri Oct 23 00:56:58 IST 2020
sys.port=3306
sys.database.name=attendance
sys.url=jdbc\:mysql\://localhost\:3306/attendance?createDatabaseIfNotExist\=true
sys.username=hrishav
sys.host=localhost
sys.password=hrishav
sys.driver=com.mysql.cj.jdbc.Driver
sys.database.dialect=org.hibernate.dialect.MySQLDialect
